.grid {
  /* max-width: 1200px; */
  top: 30px;
  margin: 0;
  list-style-type: none;
  z-index: -1;
  padding: 0;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: calc(33.3333% - 10px);
}

.grid-item > img {
  display: block;
  max-width: 100%;
  /* margin-bottom: 10px; */
  padding: 5px;
}

/* .grid-item {
  display: inline-block;
  padding: 5px;
  float: left;
  list-style: none;
}

.grid-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid-item .stats {
  position: absolute;
  transform: translateY(-60px);
  display: flex;
  justify-content: space-around;
  background-color: rgba(252, 252, 252, 0.452);

  width: calc(33.3333% - 23px);
} */
